* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

img{
  max-width: 150px;
  padding-right: 20px;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  word-break: break-all;
}


.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.125em solid #aaa;
  border-radius: 5px;
  max-width: 29.375em;
  max-height: 20em; 
  margin-bottom: 0.625em;
  padding: 0px;
  overflow: auto;
  word-break: break-all;
}

.card__content{
  display: flex;
  margin: 5px;  

}

.card_text{
  display: flex;
  line-height: 20px;
  margin-top: auto;
}

.cards ul{
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: auto;
  font-weight: bold;
}

.cards li{
  margin: 2px;
}

.card--moveforward{
  order:-1;
}